{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% block content %}

<div class="container my-3">
    <div class="row mt-3">
        <div class="col-md-4"></div>
        <div class="col-xs-12 col-md-4">
            <h4 class="text-center">회원가입</h4>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-xs-12 col-md-6">
            <form method="post" class="post-form">
            {% csrf_token %}
            {% include "form_errors.html" %}
                <div class="searchbar">
                    <input type="text" class="search" name="email" id="email" placeholder="이메일"
                           value="{{ form.email.value|default_if_none:'' }}">
                </div>
                <div class="searchbar" style="margin-top: 1em;">
                    <input type="password" class="search" name="password1" id="password1" placeholder="비밀번호"
                           value="{{ form.password1.value|default_if_none:'' }}">
                </div>
                <div class="searchbar" style="margin-top: 1em;">
                    <input type="password" class="search" name="password2" id="password2" placeholder="비밀번호 확인"
                           value="{{ form.password2.value|default_if_none:'' }}">
                </div>
                <div class="searchbar" style="margin-top: 1em;">
                    <input type="text" class="search" name="student_name" id="student_name" placeholder="이름"
                           value="{{ form.student_name.value|default_if_none:'' }}">
                </div>
                <div class="searchbar" style="margin-top: 1em;" >
                    <input type="text" class="search" name="student_number" id="student_number" placeholder="학번"
                           value="{{ form.student_number.value|default_if_none:'' }}">
                </div>
                <div style="margin-left: 10%; margin-top: 1em;">
                    <button type="submit" class="btnnb">회원가입</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}