{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <div style="top: 20%; position: relative;">
                <div class="assess_border">
                    <h4 class="text-center">회원가입</h4>
                    <form method="post" class="post-form">
                    {% csrf_token %}
                    {% include "form_errors.html" %}

                        <input type="text" class="signup_search" name="email" id="email" placeholder="이메일"
                               value="{{ form.email.value|default_if_none:'' }}">

                        <input type="password" class="signup_search" name="password1" id="password1" placeholder="비밀번호"
                               value="{{ form.password1.value|default_if_none:'' }}">

                        <input type="password" class="signup_search" name="password2" id="password2" placeholder="비밀번호 확인"
                               value="{{ form.password2.value|default_if_none:'' }}">

                        <input type="text" class="signup_search" name="student_name" id="student_name" placeholder="이름"
                               value="{{ form.student_name.value|default_if_none:'' }}">

                        <input type="text" class="signup_search" name="student_number" id="student_number" placeholder="학번"
                               value="{{ form.student_number.value|default_if_none:'' }}">

                        <div style="margin-top: 2em;">
                            <button type="submit" class="btnnb">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script src="/static/script.js"></script>

{% endblock %}