/* ------------------------------------------------------ */
/* Layout */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    background: #eee;
    font-size:0.9em;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;

    background-color: #f5f5f5;
}

.container {

}

#content {
    background: #fff;
}

.content_block {
    padding:20px;
}

.table th, .table td {
    padding: 5px;
}

#common_container {
    height: 100%;
}

#login {
    position: relative;
    top: 35%;
}

#side_left {
    height: 100%;
    background: #00A4EF;
}


#side_right {
    height: 100%;
    background: #00A4EF;
}
