{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}

<div class="container my-3">
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw"
                   value="{{ kw|default_if_none:''}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary"
                        type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <nav id="sidebar" class="border-top border-secondary">
                <div class="list-group">
                    <li class="list-group-item">공지사항</li>
                    <a class="rounded-0 list-group-item list-group-item-action"
                       href="/board/list">강의평가</a>
                    <ul class="list-group list-group-flush">
                </div>
              </ul>
            </nav>
        </div>
        <div class="col-xs-12 col-md-10 my-4">
            <table class="table">
                <thead>
                <tr class="text-center thead-dark">
                    <th>과목</th>
                    <th>교수</th>
                    <th style="width:50%">제목</th>
                    <th>글쓴이</th>
                </tr>
                </thead>
                <tbody>
                <h4 class="border-bottom pb-2 mb-3">강의평가</h4>
                {% if assess_list %}
                {% for assess in assess_list %}
                <tr class="text-center">
                    <td class="align-middle">{{ assess.classinfo.title }}</td>
                    <td class="align-middle">{{ assess.classinfo.professor }}</td>
                    <td class="align-middle">
                        <a href="{% url 'board:detail' assess.id %}">
                            {{ assess.subject }}
                        </a>
                    </td>
                    <td class="align-middle">{{ assess.author.username }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">강의평가가 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>

            <!-- 페이징 처리 시작 -->
            <ul class="pagination justify-content-center">
                {% if assess_list.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ assess_list.previous_page_number }}">
                        이전
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                        이전
                    </a>
                </li>
                {% endif %}

                <!-- 페이지 리스트 -->
                {% for page_number in assess_list.paginator.page_range %}
                {% if page_number >= assess_list.number|add:-5 and page_number <= assess_list.number|add:5 %}
                {% if page_number == assess_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">
                        {{ page_number }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">
                        {{ page_number }}
                    </a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}

                <!-- 다음페이지 -->
                {% if assess_list.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ assess_list.next_page_number }}">
                        다음
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                        다음
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:''">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}