{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-xs-12 col-md-12 my-4">
            <div class="searchbar">
                <form method="POST" action="{% url 'board:result' %}">
                    {% csrf_token %}
                    <input class="search" type="text" name="classname" placeholder="과목명/교수명으로 검색">
                    <button id="searchbutton" type="submit">
                        <i class="fas fa-search fa-lg"></i>
                    </button>
                </form>
            </div>
            <div class="assess_border">
                <span style="font-size: 18px; font-weight: bold; margin: 3px;">최근 강의평</span>
                <table style="margin-top: 20px;" class="table table-hover">
                    <tbody>
                        {% if assess_list %}
                        {% for assess in assess_list %}
                        <tr>
                            <td onclick="location.href='/board/detail/{{ assess.classinfo.id }}'">
                                <div style="margin: 5px 0px;">
                                     <span style="display: block; font-size: 14px; font-weight: bold">{{ assess.classinfo }} / {{ assess.professor }}</span>
                                    {% num assess.rate as rate %}
                                    {% if rate < 0.5 %}
                                    <i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i>
                                    {% elif rate < 1 and rate >= 0.5 %}
                                    <i class="fas fa-star-half fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i>
                                    {% elif rate < 1.5 and rate >= 1 %}
                                    <i class="fas fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i>
                                    {% elif rate < 2 and rate >= 1.5 %}
                                    <i class="fas fa-star fa-xs star"></i><i class="fas fa-star-half fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i>
                                    {% elif rate < 2.5 and rate >= 2 %}
                                    <i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i>
                                    {% elif rate < 3 and rate >= 2.5 %}
                                    <i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star-half fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i>
                                    {% elif rate < 3.5 and rate >= 3 %}
                                    <i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i>
                                    {% elif rate < 4 and rate >= 3.5 %}
                                    <i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star-half fa-xs star"></i><i class="far fa-star fa-xs star"></i>
                                    {% elif rate < 4.5 and rate >= 4 %}
                                    <i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="far fa-star fa-xs star"></i>
                                    {% elif rate < 5 and rate >= 4.5 %}
                                    <i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star-half fa-xs star"></i>
                                    {% elif rate == 5 %}
                                    <i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i><i class="fas fa-star fa-xs star"></i>
                                    {% endif %}
                                    <span style="display: block; color: #A9A7A7; font-size: 12px;">{{ assess.semester }} 수강자</span>
                                    <div style="font-size: 14px; white-space: pre-line;">{{ assess.content }}</div>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="3">최근 강의평가가 없습니다.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:''">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}