{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <div class="row my-2">
         <div class="col-xs-12 col-md-2">
            <nav id="sidebar" class="border-top border-secondary">
                <div class="list-group">
                    <a class="rounded-0 list-group-item list-group-item-action"
                       href="/">시간표</a>
                    <a class="rounded-0 list-group-item list-group-item-action"
                       href="/board/list">강의평가</a>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">공지사항</li>
                    <li class="list-group-item">자유게시판</li>
                </div>
              </ul>
            </nav>
        </div>
        <div class="col-xs-12 col-md-10"> <!-- 질문 영역 -->
            <div class="card">
                <div class="card-body">
                    <div id="post_header">
                        <h3>{{ assess.subject }}</h3>
                        <span>{{ assess.author.username }} |</span>
                        {% if assess.modify_date %}
                        <span>작성일: {{ assess.create_date }}</span>
                        {% else %}
                        <span>{{ assess.create_date }}</span>
                        {% endif %}
                    </div>
                    <br>
                    <div class="card-text" style="white-space: pre-line;">{{ assess.content }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}