{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}

<div class="container my-3">
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw"
                   value="{{ kw|default_if_none:''}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary"
                        type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <nav id="sidebar" class="border-top border-secondary">
                <div class="list-group">
                    <ul class="list-group list-group-flush">
                    <a class="rounded-0 list-group-item list-group-item-action"
                       href="/commonboard/list">공지사항</a>
                    <a class="rounded-0 list-group-item list-group-item-action"
                       href="/freeboard/list">자유게시판</a>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-xs-12 col-md-10 my-4">
            <div class="assess_border">
                <span style="font-size: 18px; font-weight: bold; margin: 3px;">공지사항</span>
                {% if request.user.is_staff %}
                <a href="{% url 'commonboard:create' %}">
                    <button style="display: in-line;" type="button" class="btnnb">
                        글쓰기
                    </button>
                </a>
                {% endif %}
                <table style="margin-top: 20px;" class="table table-hover">
                    <tbody>
                    {% if announce_list %}
                    {% for announce in announce_list %}
                    <tr>
                        <td class="text-center">{{ announce.id }}</td>
                        <td class="align-middle">
                            <a href="{% url 'commonboard:detail' announce.id %}" style="color:black;">
                                {{ announce.subject }}
                            </a>
                        </td>
                        <td class="text-center">{{ announce.author.username }}</td>
                        <td class="text-center">{{ announce.create_date | date:'Y년 m월d일 H:i' }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">글이 없습니다.</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>

                <!-- 페이징 처리 시작 -->
                <ul class="pagination justify-content-center">
                    {% if announce_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ announce_list.previous_page_number }}">
                            이전
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                            이전
                        </a>
                    </li>
                    {% endif %}

                    <!-- 페이지 리스트 -->
                    {% for page_number in announce_list.paginator.page_range %}
                    {% if page_number >= announce_list.number|add:-5 and page_number <= announce_list.number|add:5 %}
                    {% if page_number == announce_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">
                            {{ page_number }}
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">
                            {{ page_number }}
                        </a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    <!-- 다음페이지 -->
                    {% if announce_list.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ announce_list.next_page_number }}">
                            다음
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                            다음
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:''">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}