{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <div class="row my-2">
         <div class="col-xs-12 col-md-2">
            <nav id="sidebar" class="border-top border-secondary">
                <div class="list-group">
                    <ul class="list-group list-group-flush">
                    <a class="rounded-0 list-group-item list-group-item-action"
                       href="/commonboard/list">공지사항</a>
                    <a class="rounded-0 list-group-item list-group-item-action"
                       href="/board/list">강의평가</a>
                    <a class="rounded-0 list-group-item list-group-item-action"
                       href="/freeboard/list">자유게시판</a>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-xs-12 col-md-10"> <!-- 글 영역 -->
            <div class="assess_border">
                <div id="post_header">
                    <span style="font-size: 20px; display: block;">{{ post.subject }}</span>
                    <span>{{ post.author.student_name }} |</span>
                    {% if post.modify_date %}
                    <span>작성일: {{ post.modify_date | date:'Y년 m월d일 H:i' }}</span>
                    {% else %}
                    <span>{{ post.create_date | date:'Y년 m월d일 H:i' }}</span>
                    {% endif %}
                </div>
                <br>
                <div>
                    {% if post.delete_unavailable == 1 %}
                    <span style="color: #E22458">(본인삭제금지 게시물입니다.)</span>
                    {% endif %}
                    <div style="white-space: pre-line;">{{ post.content }}</div>
                    <div style="margin: 5px auto 5px;">
                        <form id="forminline" method="POST" action="{% url 'freeboard:vote' post.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btnnn">
                                <i class="far fa-heart"></i> {{ post.voter.count }}
                            </button>
                        </form>
                        {% if request.user == post.author %}
                        {% if post.delete_unavailable != 1 %}
                        <form id="forminline" method="POST" action="{% url 'freeboard:delete' post.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btnnb">글 삭제</button>
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
                <div class="assess_border">
                    <table class="table">
                        <tbody>
                            {% for comment in post.comment_set.all %}
                            <tr style="margin: 5px;">
                                <td>
                                    <div id="comment_header">
                                    {% if post.modify_date %}
                                    <span style="float: right; font-size: 12px;">{{ comment.modify_date | date:'Y.m.d. H:i' }}</span>
                                    {% else %}
                                    <span style="float: right; font-size: 12px;">{{ comment.create_date | date:'Y.m.d. H:i'}}</span>
                                    {% endif %}
                                    <span style="font-weight: bold;">익명</span>
                                    </div>
                                    <div style="white-space: pre-line;">{{ comment.content }}</div>
                                    {% if comment.author == request.user %}
                                    <form id="forminline" method="POST" action="{% url 'freeboard:comment_delete' comment.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btnnb">삭제</button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <form action="{% url 'freeboard:comment_create' post.id %}"
                                      method="post" class="my-3" id="comment_input">
                                        {% csrf_token %}
                                        {% if form.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for field in form %}
                                            {% if field.errors %}
                                            <strong>{{ field.label }}</strong>
                                            {{ field.errors }}
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <textarea name="content" id="content"
                                                      {% if not user.is_authenticated %}disabled{% endif %}
                                                      class="form-control" rows="10"></textarea>
                                        </div>
                                        <input type="submit" value="댓글달기" class="btnnb" style="float: right;">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}