{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
<br>
<div class="container">
    {% if messages %}
    <div class = "alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <form method="POST" action="{% url 'timetable:result' %}">
                {% csrf_token %}
                <input type="text" name="classname" placeholder="검색어를 입력해 주세요." size="30">
                <button type="submit" class="btn btn-primary">검색</button>
            </form>
            <table class="table-sm table-bordered" style="table-layout: fixed">
                <tbody>
                <tr class="text-center" style="background-color:#AEB9C6">
                    <th width="6%"></th>
                    <th width="15.6%"><h6>월</h6></th>
                    <th width="15.6%"><h6>화</h6></th>
                    <th width="15.6%"><h6>수</h6></th>
                    <th width="15.6%"><h6>목</h6></th>
                    <th width="15.6%"><h6>금</h6></th>
                    <th width="15.6%"><h6>토</h6></th>
                </tr>
                {% for i in ran %}
                <tr>
                    {% time i as p %}
                    <th class="text-center align-middle"><p style = "font-size:14px; font-weight:lighter;">{{ p }}시</p></th>
                    {% for j in rang %}
                    {% add_str i j as cou %}
                    {% if cou in tabletime %}
                    {% subst cou as couu %}
                    {% location tabletime cou as loca %}
                    {% content tablename loca as title %}
                    {% content tablecolor loca as color %}
                    {% if couu in tabletime %}
                    {% location tabletime couu as locaa %}
                    {% content tablecolor locaa as colorsub %}
                    {% else %}
                    {% subst color as colorsub %}
                    {% endif %}
                    {% content tableroom loca as room %}
                        {% if color == 1 %}
                        <th bgcolor="CFE2F8">
                            {% if color != colorsub %}
                            <span style = "font-size:12px;">{{ title }}</span><br>
                            <span style = "font-size:12px; font-weight:lighter;">{{ room }}</span>
                            {% endif %}
                        </th>
                        {% endif %}
                        {% if color == 2 %}
                        <th bgcolor="F8CFD2">
                            {% if color != colorsub %}
                            <span style = "font-size:12px;">{{ title }}</span><br>
                            <span style = "font-size:12px; font-weight:lighter;">{{ room }}</span>
                            {% endif %}
                        </th>
                        {% endif %}
                        {% if color == 3 %}
                        <th bgcolor="DAF8CF">
                            {% if color != colorsub %}
                            <span style = "font-size:12px;">{{ title }}</span><br>
                            <span style = "font-size:12px; font-weight:lighter;">{{ room }}</span>
                            {% endif %}
                        </th>
                        {% endif %}
                        {% if color == 4 %}
                        <th bgcolor="F4CFF8">
                            {% if color != colorsub %}
                            <span style = "font-size:12px;">{{ title }}</span><br>
                            <span style = "font-size:12px; font-weight:lighter;">{{ room }}</span>
                            {% endif %}
                        </th>
                        {% endif %}
                        {% if color == 5 %}
                        <th bgcolor="F7F8CF">
                            {% if color != colorsub %}
                            <span style = "font-size:12px;">{{ title }}</span><br>
                            <span style = "font-size:12px; font-weight:lighter;">{{ room }}</span>
                            {% endif %}
                        </th>
                        {% endif %}
                        {% if color == 6 %}
                        <th bgcolor="CFF8F6">
                            {% if color != colorsub %}
                            <span style = "font-size:12px;">{{ title }}</span><br>
                            <span style = "font-size:12px; font-weight:lighter;">{{ room }}</span>
                            {% endif %}
                        </th>
                        {% endif %}
                        {% if color == 7 %}
                        <th bgcolor="F8DECF">
                            {% if color != colorsub %}
                            <span style = "font-size:12px;">{{ title }}</span><br>
                            <span style = "font-size:12px; font-weight:lighter;">{{ room }}</span>
                            {% endif %}
                        </th>
                        {% endif %}
                        {% if color == 8 %}
                        <th bgcolor="F0CFF8">
                            {% if color != colorsub %}
                            <span style = "font-size:12px;">{{ title }}</span><br>
                            <span style = "font-size:12px; font-weight:lighter;">{{ room }}</span>
                            {% endif %}
                        </th>
                        {% endif %}
                        {% else %}
                        <th></th>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 시간표 -->
        <div class="col-xs-12 col-md-4">
            2021학년도 1학기 <br>신청학점: {{ tabletime | length }}
            {% if tabletime %}
                <table class="table-sm table-striped table-condensed">
                    <tbody>
                    <tr class="text-center">
                        <th style="width: 50%">과목명</th>
                        <th>교수</th>
                        <th></th>
                    </tr>
                    {% for i in list %}
                    <tr class = "text-center" height="30px">
                        <td><p style = "font-size:14px;">{{ i.title }}</p></td>
                        <td><p style = "font-size:14px;">{{ i.professor }}</p></td>
                        <td><h6>
                            <form method="POST" action="{% url 'timetable:delete' i.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">삭제</button>
                            </form>
                        </h6></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
