{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <table class="table">
            <tbody>
            {% for i in ran %}
            <tr style="text-align: center;">
                {% for j in rang %}
                {% seatnum_cal i j as seatnum %}
                {% if seatnum in seat_num %}
                {% location seat_num seatnum as loc %}
                {% content seat_name loc as seatname %}
                <td bgcolor="CFE2F8">
                    <span style="display: block;">{{ seatnum }}</span>
                    <span>{{ seatname }}</span>
                </td>
                {% else %}
                <td>
                    <a href="{% url 'libraryseat:seat_register' seatnum %}"
                       onclick="if(!confirm('{{ seatnum }}번 좌석으로 신청하시겠습니까?')){ return false; }"
                            style="display: block;">{{ seatnum }}</a>
                    <span>공석</span>
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-6">
        {% if messages %}
        <div class = "alert alert-danger my-3" role="alert">
            {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
            {% endfor %}
        </div>
        {% endif %}
        <p>
            신청하시려는 좌석 번호를 클릭해주세요.
        </p>
    </div>
</div>

{% endblock %}
