{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
<div class="container">
    <form method="POST" action="{% url 'libraryseat:create_receive' %}">
        {% csrf_token %}
        <input class="searchbar" type="text" name="semester" placeholder="학기">
        <input class="searchbar" type="text" name="month" placeholder="월(랜덤 배정후 좌석배정 시작일, 예) 8월 21로 설정시 8월 21 9시부터 좌석배정 시작">
        <input class="searchbar" type="text" name="day" placeholder="일">
        <button type="submit" class="btnnb">작성완료</button>
    </form>
    <a href="{% url 'libraryseat:random' %}" class="btnnb">랜덤</a>
</div>

{% endblock %}