{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="common_container">
    <div id="login" class="container-fluid">
        <div class="row">
            <div id="side_left" class="col-xs-3 col-md-4"></div>
            <div class="col-xs-6 col-md-4">
                <div style="text-align : center;">
                    <img src="/static/images/front_logo.jpg" alt="로고" width="150">
                </div>
                <p>
                    입력하신 이메일과 일치하는 계정 정보가 없습니다.
                </p>
                <div class="col-md-3"></div>
            </div>
        </div>
        <div id="side_right" class="col-xs-3 col-md-4"></div>
    </div>
</div>

{% endblock %}