{% extends "base.html" %}
{% load static %}
{% block content %}
{% if validlink %}
<div id="common_container">
        <div id="login" class="container-fluid">
            <div class="row">
                <div id="side_left" class="col-xs-3 col-md-4"></div>
                <div class="col-xs-6 col-md-4">
                    <div style="text-align : center;">
                        <img src="/static/images/front_logo.jpg" alt="로고" width="150">
                    </div>
                    <div style="margin: 30px 0px;">
                    <form method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <input type="submit" class="btnnn" value="비밀번호 변경">
                    </form>
                    </div>
                        <div class="col-md-3"></div>
                </div>
                <div id="side_right" class="col-xs-3 col-md-4">
                </div>
            </div>
        </div>
</div>


{% else %}

<p>요청하신 링크는 만료되었습니다. 새로운 링크 전송을 요청하시기 바랍니다.</p>

{% endif %}

{% endblock %}