{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
<div class="back">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class = "alert alert-danger my-3" role="alert">
                        <ul><li>{{ message.message }}</li></ul>
                    </div>
                    {% else %}
                    <div class="alert alert-success my-3" role="alert">
                        <ul><li>{{ message.message }}</li></ul>
                    </div>
                    {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <nav id="sidebar" class="border-top border-secondary">
                    <div class="list-group">
                        <ul class="list-group list-group-flush">
                            <a class="rounded-0 list-group-item list-group-item-action"
                               href="/studyroom/1">B126</a>
                            <a class="rounded-0 list-group-item list-group-item-action"
                               href="/studyroom/2">B127</a>
                            <a class="rounded-0 list-group-item list-group-item-action"
                               href="/studyroom/3">210A</a>
                            <a class="rounded-0 list-group-item list-group-item-action"
                               href="/studyroom/4">210B</a>
                            <a class="rounded-0 list-group-item list-group-item-action"
                               href="/studyroom/5">210C</a>
                            <a class="rounded-0 list-group-item list-group-item-action"
                               href="/studyroom/6">210D</a>
                            <a class="rounded-0 list-group-item list-group-item-action"
                               href="/studyroom/7">210E</a>
                            <a class="rounded-0 list-group-item list-group-item-action"
                               href="/studyroom/8">210F</a>

                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col-xs-12 col-md-10">
                <div class="assess_border">
                    <span style="font-size: 18px; font-weight: bold; margin: 3px;">나의 예약</span>
                    {% compare_time current_time as current_result %}
                    {% if current_result %}
                    <button style="display: in-line;" type="button" class="btnnb" data-toggle="modal" data-target="#myModal">
                    예약하기
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span style="font-size: 20px; font-weight: bold;">스터디룸 예약하기</span>
                                </div>
                                <div class="modal-body">
                                <form method="POST" action="{% url 'studyroom:register' %}">
                                    {% csrf_token %}
                                    <div>
                                        <div style="display: block;">
                                            <label for="room_num" style="font-size: 14px; font-weight: bold;">강의실</label>
                                            <select class="assess_select" name="room_num" style="display: in-line;">
                                                <option value="1">B126</option>
                                                <option value="2">B127</option>
                                                <option value="3">210A</option>
                                                <option value="4">210B</option>
                                                <option value="5">210C</option>
                                                <option value="6">210D</option>
                                                <option value="7">210E</option>
                                                <option value="8">210F</option>
                                            </select>
                                        </div>
                                        <div style="display: block;">
                                            <label for="date" style="font-size: 14px; font-weight: bold;">날짜</label>
                                            <select class="assess_select" name="date" style="display: in-line;">
                                                {% next daytable 0 as i %}
                                                {% date i.weekday as weekday %}
                                                <option value="0">{{ i.month }}/{{ i.day }}({{ weekday }})</option>
                                                {% next daytable 1 as i %}
                                                {% date i.weekday as weekday %}
                                                <option value="1">{{ i.month }}/{{ i.day }}({{ weekday }})</option>
                                                {% next daytable 2 as i %}
                                                {% date i.weekday as weekday %}
                                                <option value="2">{{ i.month }}/{{ i.day }}({{ weekday }})</option>
                                                {% next daytable 3 as i %}
                                                {% date i.weekday as weekday %}
                                                <option value="3">{{ i.month }}/{{ i.day }}({{ weekday }})</option>
                                                {% next daytable 4 as i %}
                                                {% date i.weekday as weekday %}
                                                <option value="4">{{ i.month }}/{{ i.day }}({{ weekday }})</option>
                                                {% next daytable 5 as i %}
                                                {% date i.weekday as weekday %}
                                                <option value="5">{{ i.month }}/{{ i.day }}({{ weekday }})</option>
                                                {% next daytable 6 as i %}
                                                {% date i.weekday as weekday %}
                                                <option value="6">{{ i.month }}/{{ i.day }}({{ weekday }})</option>
                                            </select>
                                        </div>
                                        <div style="display: block;">
                                            <label for="start_time" style="font-size: 14px; font-weight: bold;">시작시간</label>
                                            <select class="assess_select" name="start_time" style="display: in-line;">
                                                <option value="1">9시</option>
                                                <option value="2">10시</option>
                                                <option value="3">11시</option>
                                                <option value="4">12시</option>
                                                <option value="5">13시</option>
                                                <option value="6">14시</option>
                                                <option value="7">15시</option>
                                                <option value="8">16시</option>
                                                <option value="9">17시</option>
                                                <option value="10">18시</option>
                                                <option value="11">19시</option>
                                                <option value="12">20시</option>
                                                <option value="13">21시</option>
                                                <option value="14">22시</option>
                                            </select>
                                        </div>
                                        <div style="display: block;">
                                            <label for="end_time" style="font-size: 14px; font-weight: bold;">종료시간</label>
                                            <select class="assess_select" name="end_time" style="display: in-line;">
                                                <option value="1">9시</option>
                                                <option value="2">10시</option>
                                                <option value="3">11시</option>
                                                <option value="4">12시</option>
                                                <option value="5">13시</option>
                                                <option value="6">14시</option>
                                                <option value="7">15시</option>
                                                <option value="8">16시</option>
                                                <option value="9">17시</option>
                                                <option value="10">18시</option>
                                                <option value="11">19시</option>
                                                <option value="12">20시</option>
                                                <option value="13">21시</option>
                                                <option value="14">22시</option>
                                                <option value="15">23시</option>
                                            </select>
                                        </div>
                                        </div>
                                    <button type="submit" class="btnn">작성완료</button>
                                </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <span style="font-size: 18px; font-weight: bold; margin: 3px;"></span>
                    <table style="margin-top: 20px;" class="table table-hover">
                        <tbody>
                            {% if my_reserve %}
                            {% for reserve in my_reserve %}
                            {% start_time reserve.time as start_show_time %}
                            {% end_time reserve.time as end_show_time %}
                            {% room reserve.room as room_num %}
                            <tr>
                                <td>
                                    <div style="margin: 5px 0px;">
                                        {% date reserve.date as reserve_weekday %}
                                        <span style="display: in-line; font-size: 14px;">{{ reserve.month }}월 {{ reserve.day }}일({{ reserve_weekday }}요일)</span>
                                        <span style="display: in-line; font-size: 14px;"> / {{ room_num }} / </span>
                                        <span style="display: in-line; font-size: 14px;">{{ start_show_time }}:00-{{ end_show_time }}:00</span>
                                        <div class="reg">
                                            <form method="POST" action="{% url 'studyroom:delete' reserve.id %}" style="display: in-line;">
                                                {% csrf_token %}
                                                <button type="submit" class="btnnb">삭제</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">예약 내역이 없습니다.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- 시간표 -->
                <div class="assess_border">
                    {% room room as num %}
                    <span style="font-size: 18px; font-weight: bold; margin: 3px;">{{ num }} 예약현황</span>
                    <div style="overflow: auto;">
                        <table id="table1" class="table">
                            <tbody>
                            <tr class="text-center">
                                <th width="5%"></th>
                                {% for i in daytable %}
                                {% date i.weekday as weekday %}
                                <th width="11%"><span style = "font-size:12px; font-weight:lighter;"> {{ i.month }}/{{ i.day }}({{ weekday }})</span></th>
                                {% endfor %}
                            </tr>
                            {% for i in ran %}
                            <tr>
                                {% time i as p %}
                                <th class="text-center align-middle"><p style = "font-size:12px; font-weight:lighter;">{{ p }}</p></th>
                                {% for j in rang %}
                                {% add_str i j as cou %}
                                {% if cou in tabletime %}
                                {% location tabletime cou as loc %}
                                {% content nametable loc as name %}
                                <th bgcolor="CFE2F8" style="text-align: center;">{{ name }}</th>
                                {% else %}
                                <th></th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script type='text/javascript'>

$(function(){
  $('table tbody td').mouseenter(function(){
    $(this).find('.reg').show();
  });
  $('table tbody td').mouseleave(function(){
    $(this).find('.reg').hide();
  });
});

</script>
{% endblock %}
