{% extends 'base.html' %}
{% block content %}


<div class="container my-3">
    <div class="row my-2">
         
    <form method="POST" action="{% url 'survey:receive' %}">
    {% csrf_token %}
        <div class="col-xs-12 col-md-12">
            <div class="assess_border">
                <div id="post_header">
                    <span style="font-size: 20px; display: block;">{{ post.subject }}</span>
                    
                    <span>응답종료일: {{ post.end_month }}월 {{ post.end_day }}일 23시 59분</span>
                </div>
                <br>
                <div>
                    <div style="white-space: pre-line;">{{ post.content }}</div>
                </div>
                
                {% for question, option in qao %}
                    <br>
                    <tr>
                            <div style="margin: 5px 0px;">
                                <span style="display: block; font-size: 12px;">
                                    {{ question.subject }}
                                </span>
                                <span style="display: block; font-size: 10px;">
                                    {{ question.content }}
                                </span>
                                
                                <select class="assess_select" name="floor" style="display: in-line;">
                                    {% for o in option %}
                                        <option value=o>{{ o }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>
                 {% endfor %}
                
                 <br>
                 <button type="submit" class="btnn">접수</button>
           </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
